@page "/ClientContacts"
@inherits ClientContactsPageBase

<PageTitle>Client Contacts</PageTitle>

<h1>Client Contacts</h1>

@if ((_MultipleViewModel.ModelArray == null) || (!_MultipleViewModel.ModelArray.Any()))
{
  <p><em>Loading...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>        
        <th>First Name</th>        
        <th>Last Name</th>        
        <th>Email Address</th>        
        <th>Phone Number</th>        
        <th>Mobile Number</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var model in _MultipleViewModel.ModelArray)
      {
        <tr>    
          <td>@model.First_Name</td>    
          <td>@model.Last_Name</td>    
          <td>@model.Email_Address</td>    
          <td>@model.Phone_Number</td>    
          <td>@model.Mobile_Number</td>
        </tr>
      }
    </tbody>
  </table>
}
